<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://ca72882f3b7464290f3c94ddf0c3586e@o4512181850603520.ingest.us.sentry.io/4512181964505088" />

        <!-- Habilitar auto-instalación y captura de crashes -->
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="true" />

        <!-- Muestra rastreos de llamadas de red (HTTP/REST) si usas OkHttp/Retrofit -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
    </application>

</manifest>